/* Base */
html, body {
  background-color: #EDF5E1; }

.header {
  height: 100vh;
  background-color: #5CDB95; }
  .header .navbar {
    background-color: #5CDB95;
    font-family: 'Krungthep'; }
    .header .navbar .navbar-brand .navbar-item {
      display: block !important;
      text-align: center; }
      .header .navbar .navbar-brand .navbar-item h1, .header .navbar .navbar-brand .navbar-item p, .header .navbar .navbar-brand .navbar-item a {
        color: #05386B; }
    .header .navbar .navbar-brand .navbar-burger {
      margin-top: 10px; }
    .header .navbar .navbar-menu a {
      color: #05386B; }

.chat .typ01-column .typ01-avatar {
  height: 40vh;
  margin-top: 10vh; }

.chat .start-chat {
  font-family: 'Krungthep';
  text-align: center; }
  .chat .start-chat .title, .chat .start-chat .subtitle {
    color: #EDF5E1; }
  .chat .start-chat .button {
    background-color: #379683;
    color: #EDF5E1;
    border: 0px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    height: 50px; }

.about {
  margin-top: 10px; }
  .about .title {
    font-family: 'Krungthep';
    color: #05386B;
    text-align: center; }
  .about p {
    font-family: 'Krungthep';
    color: #05386B;
    text-align: center;
    font-size: 16px; }
  .about .subtitle {
    font-family: 'Krungthep';
    color: #05386B;
    text-align: center;
    margin-top: 20px; }

/* Desktop  only */
@media only screen and (min-width: 1024px) {
  .header {
    height: 80vh; }
    .header .navbar .navbar-brand {
      margin-left: 95px; }
    .header .navbar .navbar-menu {
      margin-left: 50px; }
      .header .navbar .navbar-menu .navbar-item:hover {
        background: #05386B;
        color: #EDF5E1; }
  .chat {
    /** wait...STARCH MASKS?!?!? **/ }
    .chat .typ01-column .typ01-avatar {
      height: 50vh; }
    .chat .start-chat {
      margin-top: 15vh; }
      .chat .start-chat .title {
        font-size: 48px; }
      .chat .start-chat .subtitle {
        max-width: 50vw;
        word-wrap: break-word;
        font-size: 24px; }
      .chat .start-chat .button {
        width: 300px;
        height: 90px;
        font-size: 24px; }
        .chat .start-chat .button:hover {
          background: #EDF5E1;
          color: #05386B; } }
