@import "colors";

html, body{
	background-color: $loafer;
}

.header{
	height: 100vh;
	background-color: $pastel-green;

	.navbar{
		background-color: $pastel-green;
		font-family: 'Krungthep';
		.navbar-brand{

			.navbar-item{
				display: block !important;
				text-align: center;
				h1, p, a{
					color: $catalina-blue;
				}
			}
			.navbar-burger{
				margin-top: 10px;
			}
		}
		.navbar-menu{
			a{
				color: $catalina-blue;
			}
		}
	}
}

.chat{
	.typ01-column{
		.typ01-avatar{
			height: 40vh;
			margin-top: 10vh;
		}
	}

	.start-chat{
		font-family: 'Krungthep';
		text-align: center;
		.title, .subtitle{
			color: $loafer;
		}
		.button{
			background-color: $lochinvar;
			color: $loafer;
			border: 0px;
			box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
			height: 50px;
		}
	}
}

.about{
	margin-top: 10px;
	.title{
		font-family: 'Krungthep';
		color: $catalina-blue;
		text-align: center;
	}
	p{
		font-family: 'Krungthep';
		color: $catalina-blue;
		text-align: center;
		font-size: 16px;
	}
	.subtitle{
		font-family: 'Krungthep';
		color: $catalina-blue;
		text-align: center;
		margin-top: 20px;
	}
}

/* Desktop  only */
@media only screen and (min-width: 1024px) {
	.header{
		height: 80vh;
		.navbar{
			.navbar-brand{
				margin-left: 95px;
			}
			.navbar-menu{
				margin-left: 50px;
				.navbar-item{
					&:hover{
						background: $catalina-blue;
						color: $loafer;
					}
				}
			}
		}
	}
	.chat{
		.typ01-column{
			.typ01-avatar{
				height: 50vh;
			}
		}
		/** wait...STARCH MASKS?!?!? **/
		.start-chat{
			margin-top: 15vh;
			.title{
				font-size: 48px;
			}
			.subtitle{
				max-width: 50vw;
				word-wrap: break-word;
				font-size: 24px;
			}
			.button{
				width: 300px;
				height: 90px;
				font-size: 24px;
				&:hover{
					background: $loafer;
					color: $catalina-blue;
				}
			}
		}
	}
}
